@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-canvas: #111927;
  --color-surface: #1a273d;
  --color-surface-hover: #0d1421;
  --color-foreground: #ffffff;
  --color-muted: #7e9bce;
}

.prose {
  color: var(--color-muted);
}

.prose h1 {
  font-size: var(--text-3xl);
}

.prose h2 {
  font-size: var(--text-x);
}

.prose h3 {
  font-size: var(--text-lg);
}

.prose p {
  margin-bottom: var(--spacing-4);
}

.prose ul {
  list-style-type: disc;
  padding-left: 3rem;
}
